<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <title>АПТАМЕРЫ</title>
</head>

<body class="intro">
    <header>
        <br>
        <details style="margin: 2% 20% 2% 20%;">
          <summary><p style="text-align: center; margin: 0 0 0 0">ЛЕЧЕНИЕ ТУБЕРКУЛЁЗА ЗАСЧЁТ АПТАМЕРНЫХ СТРУКТУР</p></summary>
          <p style="text-align: right;">
            Подготовила команда APTIZER<br>
          </p>
        </details>
    </header>

    <div clss="container">

        <p class="formuler"><img height="100%" width="100px" src="/home/mrred/Рабочий стол/Работа/Aptizer/Aptizer/templates/images/леговнид_1.jpg"></p>
        <p class="text">
          <br>
          Туберкулёз — это смертельно опасное заболевание вызываемое mycobacterium tuberculosis. Оно может привести к лёгочному кровотечению, туберкулёзному плевриту, пневмонии, распространению инфекции по всему организму и нарушению работы сердца и, разумеется, к смерти. Уровень смертности выше, чем от СПИД/ВИЧ, а точнее в России 2014 году составляла 80%, на данный процент упал до 43-х. В мире от туберкулёза в год умирает 1.3 миллиона человек.<br><br>
          В 2019 году в регионе было выявлено 2100 больных с активной формой туберкулеза. Общее количество заболевших в Новосибирской области — 5300 человек, из них порядка 2000 — с открытой формой. Хоть заболеваемость падает её уровень в 2 раза выше общероссийской. Также Новосибирск является одним из очагов ВИЧ. Сочетание этих заболеваний редко приводит к благоприятному прогнозу. (Также не все люди диагностируются, из-за плохого социального статуса, связанного с этой болезнью).<br><br>
          Эффективность прививки от туберкулёза напрямую зависит от географических условий, потому даже современный её вариант в России не эффективен. Лечение этого заболевание становится всё труднее из-за развития резистентных практически ко всем видам антибиотиков штаммам. Высокая скорость мутаций вкупе с неполными курсами лечения только усугубляет ситуацию. При том очень редко синтезируются новые виды антибиотиков.
          <br>
          <p class="scale">
            <svg viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <pattern id="img" patternUnits="userSpaceOnUse" width="100" height="100">
                <image xlink:href="/home/mrred/Рабочий стол/Работа/Aptizer/Aptizer/templates/images/леговнид_1.jpg" x="-25" width="150" height="100" />
              </pattern>
            </defs>
            <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img)"/>
        </svg>
    </p><br>
    </div>
</body>
